body {
  color:black;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  position: center bottom;
}


#titre {
  position: absolute;
  color: rgb(255,103,95);
  text-align: right;
  padding-right: 80px;
  z-index: 14;
  font-size: 60px;
  margin: 0;
  top: 120px;
  left: 20px;
}

#calendrier {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#chateau {
  position: relative;
  width: 1300px;
  height: 673px;
  background: url('Chateau2.png') center center no-repeat;
  background-size: 100% 100%;
}

.fenetre {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 100px;
  bottom: 190px;
  width: 60px;
  height: 70px;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  background: url('Fenetrebase.png') center center no-repeat;
  background-size: 100% 100%;
  color: white;
}

.fenetre.jour-passe {
  background-image: url('Fenetrepasse.png');
  color: red;
}


.fenetre.jour-j {
  background-image: url('FenetreJJ.png');
  color: gold;
}

#fenetre2 { left: 180px; }
#fenetre3 { left: 260px; }
#fenetre4 { left: 340px; }
#fenetre5 { left: 420px; }
#fenetre6 { left: 680px; }
#fenetre7 { left: 755px; }
#fenetre8 { left: 830px; }
#fenetre9 { left: 905px; }
#fenetre10 { left: 980px; }
#fenetre11 { left: 1055px; }
#fenetre12 { left: 1130px; }
#fenetre13 { left: 100px; bottom: 90px;}
#fenetre14 { left: 180px; bottom: 90px;}
#fenetre15 { left: 260px; bottom: 90px;}
#fenetre16 { left: 340px; bottom: 90px;}
#fenetre17 { left: 420px; bottom: 90px;}
#fenetre18 { left: 680px; bottom: 90px;}
#fenetre19 { left: 755px; bottom: 90px;}
#fenetre20 { left: 830px; bottom: 90px;}
#fenetre21 { left: 905px; bottom: 90px;}
#fenetre22 { left: 980px; bottom: 90px;}
#fenetre23 { left: 1055px; bottom: 90px;}
#fenetre24 { left: 1130px; bottom: 90px;}
