body{
  background-image: url('o-ANTARCTIC-facebook.jpg');
}

h1{
  font-family: 'Norican', cursive;
  color: #B40431;
  font-size: 5em;
  font-style: italic;
}

#snow {
  position: absolute;
  z-index:1;
	left: 0;
	top: 0;
	width: 100%;
  height: 100%;
  background: none;
  background-image: url('snowflake-1.png'), url('snowflake-2.png'), url('snowflake-3.png');
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}

#calendrier {
  position: relative;
  width: 900px;
  height: 450px;
  background: url('Igloo.png') center no-repeat;
  background-size: 100% 100%;
}

.jour {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  background: url('flocon.png') center no-repeat;
  background-size: auto 55%;
  color: transparent;
  font-family: "Lobster";
}

.jour-j {
  background: url('flocondore.png') center no-repeat;
  background-size: auto 55%;
  color: #DBA901
}

.jour-passe {
color: #013ADF
}

#j1 {
  top: 100px;
  left: 360px;
}

#j2 {
  top: 340px;
  left: 85px;
}

#j3 {
  top: 10px;
  left: 590px;
}

#j4 {
  top: 220px;
  left: 150px;
}
#j5 {
  top: 220px;
  left: 485px;
}

#j6 {
  top: 340px;
  left: 25px;
}

#j7 {
  top: 0px;
  left: 240px;
}

#j8 {
  top: 340px;
  left: 225px;
}

#j9 {
  top: 220px;
  left: 305px;
}

#j10 {
  top: 100px;
  left: 600px;
}

#j11 {
  top: 220px;
  left: 65px;
}

#j12 {
  top: 340px;
  left: 490px;
}

#j13 {
  top: 0px;
  left: 500px;
}

#j14 {
  top: 340px;
  left: 300px;
}

#j15 {
  top: 100px;
  left: 135px;
}

#j16 {
  top: 100px;
  left: 500px;
}

#j17 {
  top: 340px;
  left: 150px;
}

#j18 {
  top: 220px;
  left: 400px;
}

#j19 {
  top: 0px;
  left: 420px;
}

#j20 {
  top: 100px;
  left: 230px;
}

#j21 {
  top: 340px;
  left: 400px;
}

#j22 {
  top: 0px;
  left: 330px;
}

#j23 {
  top: 220px;
  left: 235px;
}

#j24 {
  top: 300px;
  left: 675px;
}
