body {
  font-family: 'Open sans', sans-serif;
  background-color: lightBlue;
}

#snow {
  position: absolute;
  z-index:1;
	left: 0;
	top: 0;
	width: 100%;
  height: 100%;
  background: none;
  background-image: url('../images/snowflake-1.png'), url('../images/snowflake-2.png'), url('../images/snowflake-3.png');
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}

#calendrier {
  position: absolute;
  z-index: 10;
  top: 20%;
  left: calc(50% - (512px / 2));
  width: 512px;
  height: 512px;
  background: url('../images/christmas-tree.png') center no-repeat;
  background-size: auto 100%;
}

.jour {
  position: absolute;
  width: 80px;
  height: 80px;
  font-size: 30px;
  text-shadow: 1px 1px 4px rgba(0,0,0,.5);
  text-decoration: none;
  background: url('../images/star.png') center no-repeat;
  background-size: auto 90%;
  border-radius: 50%;
  color: white;
}

#jour1 { bottom: 0; left: 0; }
#jour2 { bottom: -10px; left: 80px; }
#jour3 { bottom: -20px; left: 160px; }
#jour4 { bottom: -20px; left: 240px; }
#jour5 { bottom: -15px; left: 326px; }
#jour6 { bottom: 0; left: 410px; }
#jour7 { bottom: 60px; left: 45px; }
#jour8 { bottom: 50px; left: 125px; }
#jour9 { bottom: 40px; left: 205px; }
#jour10 { bottom: 45px; left: 285px; }
#jour11 { bottom: 55px; left: 365px; }
#jour12 { bottom: 120px; left: 85px; }
#jour13 { bottom: 110px; left: 165px; }
#jour14 { bottom: 110px; left: 245px; }
#jour15 { bottom: 115px; left: 325px; }
#jour16 { bottom: 180px; left: 125px; }
#jour17 { bottom: 170px; left: 205px; }
#jour18 { bottom: 180px; left: 285px; }
#jour19 { bottom: 245px; left: 125px; }
#jour20 { bottom: 245px; left: 205px; }
#jour21 { bottom: 245px; left: 285px; }
#jour22 { bottom: 310px; left: 163px; }
#jour23 { bottom: 310px; left: 240px; }
#jour24 { top: 18px; left: 216px; }
